.bclause {
	font-size: 16pt;
	font-weight: bold;
	margin: 20px 0;
}

.conflictid {
	font-size: 14pt;
	margin: 8px 0;
}

.prelinks {
	font-size: 12pt;
	margin-top: 8px;
}

.desc {
	font-size: 12pt;
}

.postlinks {
	font-size: 12pt;
	margin-bottom: 8px;
}
